
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~sass-material-design-colors/palette";

// Variables
@import "variables";

// Default UIKit variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

// Custom mixin overwrites.

// Import UIkit.
@import "~uikit/src/scss/uikit-theme.scss";

html {
  background-color: #f5f8fa;
}

.uk-navbar-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.uk-logo {
  img {
    padding-top: 2px;
    height: 20px !important;
  }
}

main {
  margin-top: 2rem;
}

.uk-card {
  //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 4px rgba(0,0,0,0.23);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.23);
}

.uk-card-default .uk-card-header {
  border-bottom: 0;
}

.uk-card-title {
  font-weight: 400;
}

.uk-card-body {
  padding: 20px 40px;
}

